body {
  background-color: rgb(15, 16, 20);
  color: #ffffff;
}

.gradient-text {
  background: url('/public/images/favicon.ico');
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60px;
  background-color: rgb(15, 16, 20);
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1000;

  /* Flex to center contents vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-hovered {
  background: linear-gradient(to right, rgba(15, 16, 20, 1), rgba(15, 16, 20, 0.085));
  width: 200px;
}

.navbar-container {
  width: 100%;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}


.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar-item:hover{
    transform: scale(1.05);
}


.sidebar-item:hover .label{
   background: linear-gradient(to right, #1284fa, #a023f9, #e80791);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem; /* ⬅️ Increase font size */
  font-weight: 600;
  transition: all 0.3s ease;
}

.icon {
  font-size: 24px;
  min-width: 30px;
  display: flex;
  justify-content: center;
}

.label {
  margin-left: 1rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar-hovered .label {
  opacity: 1;
}
